.trending-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

.trending-div h2 {
    padding: 10px;
    margin: 10px;
}

.trending-coins {
    display: flex;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    margin: 20px;
}

.search {
    height: 100%;
}

.form-input {
    height: 100%;
}

.dashboard-container {
    background-color: black;
    color: white;
    padding-left: 50px;
    min-height: 100vh;
}

.more-info {
    padding: 10px;
    border: 1px solid black;
    min-height: 100px;
    margin: 20px;
    max-width: 100%;
}

.more-info-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 20px;
}

.more-info-image {
    max-width: 150px;
}

.more-info-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

.chart-container { 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 20px;
}

.description-container {
    max-width: 50%;
    overflow-y: auto;
    max-height: 200px; 
    max-width: 70%;
}

@media screen and (min-width: 768px) {
    .recharts-yAxis .recharts-cartesian-axis-tick:last-child tspan {
      transform: translate(40px, -20px);
    }
  }
  
  @media screen and (max-width: 767px) {
    .recharts-yAxis .recharts-cartesian-axis-tick:last-child tspan {
      transform: translate(20px, -20px);
    }
  }


.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.search {
  position: relative;
  display: flex;
  flex: 1;
  max-width: 400px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 20px;
  border: none;
  border-radius: 0 2px 2px 0;
  background-color: #008CBA;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #005f6b;
}

.show-more-button { 
  color: white;
  background-color: blue;
}