.mycoins-parent {
    padding-left: 50px;
    width: 100%;
    background-color: black;
    color: white;
    min-height: 100vh;
    padding-bottom: 10px;
  
    
}

.mycoins-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px; 
    height: 100%;

}

.table-container {
  width: 90%;
}

th {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: right;
  
}

  .table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    
    color:#7f7f7f;
  }

  .table-container {
    border: solid 1px #1a1a1a ;
    border-radius: 0.65rem;
  }

  .th {
    font-weight: normal;
  }

  .thead {
    border-bottom: 1px solid #1a1a1a;
    margin: 30px;

  }


 
  
  .td-hash,
  .td-name,
  .td-change,
  .td-price,
  .td-btc,
  .td-cap,
  .td-volume,
  .td-graph {
    padding: 10px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0);
    
  }

  .little-line {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .response {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .hash {
    text-align: center;
  }
  .tname {
    text-align: left;
  }
  
  .td-name {
    width: 300px;
    text-align: left;
    color: white;
    height: 100%;
  }
  
  .tchange {
    width: 15%;
    text-align: center;
  }
  

  
  .td-price {
    width: 15%;
    color: white;
    
  }

  .background-up {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    width: fit-content;
    background-color: rgba(8, 209, 88, 0.1);
    padding: 10px;
    
    text-align: center;
  }

.background-down {
  display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
    width: fit-content;
    background-color: rgba(255, 68, 68, 0.1);
    
    text-align: center;
}

.symbol {
  color: #7f7f7f;
}

  
  .tbtc {
    width: 15%;
  }
  
  .tcap {
    width: 15%;
  }
  
  .tvolume {
    width: 15%;
  }
  
  .tgraph {
    width: 10%;
  }
  
  .tbody td {
    padding: 10px;
    text-align: right;
  }
  

  .table-icon {
    width: 1.5rem;
    margin-right: 10px;
  }


  .td-name {
    display: flex;
    align-items: center;
    text-align: left;
    height: 100%!important;
  }


.little-line {
    width: 150px;
    height: 50px;

}

tr {
  background-color: black;
}

tr:hover {
  background-color: #0d0d0d!important;

}

.graph-container {
  height: 400px;
  width: 1000px;

}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.main-coin-title {
  margin: 10px;
  display: flex;
  align-items: center;
}

.title-icon {
  max-height: 32px;
  margin-right: 10px;
}

.symbol-bigger {
  font-size: 1.5em;
}

.chart-title {
  display: flex;
  justify-content: space-between;
}

.download-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50px;
  background-color: #1a1a1a;
  border-radius: 7px;
}

.elipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  color: #666666;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 0px 0px 15px 15px;
  
}



.graph-animation {
  opacity: 0;
  animation: graphAnimation 1s;
  animation-delay: 0.5s;
}

@keyframes graphAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
}

.currency-section {
  display: flex;
  color: #666666;
}

.label-container{
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}



.checkbox-container {
  display: flex;
  flex-direction: column;
  
  
}

.checkbox-div {
  margin-top: 5px;
}

