.mycoins-container {
    padding-left: 50px;
}


  .table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .thead {
    background-color: #e2e2e2;
  }
  
  .thash,
  .tname,
  .tchange,
  .tprice,
  .tbtc,
  .tcap,
  .tvolume,
  .tgraph {
    padding: 10px;
    text-align: right;
    font-weight: bold;
  }
  
  .thash {
    width: 10%;
  }
  
  .tname {
    width: 30%;
    text-align: left;
  }
  
  .tchange {
    width: 15%;
  }
  
  .tprice {
    width: 15%;
  }
  
  .tbtc {
    width: 15%;
  }
  
  .tcap {
    width: 15%;
  }
  
  .tvolume {
    width: 15%;
  }
  
  .tgraph {
    width: 10%;
  }
  
  .tbody td {
    padding: 10px;
    text-align: right;
  }
  
  .tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table-icon {
    width: 1.5rem;
    margin-right: 10px;
  }


  .td-name {
    display: flex;
    align-items: center;
    text-align: left;
  }

