.mycoins-parent {
    padding-left: 50px;
    width: 100%;
    background-color: black;
    color: white;
}

.mycoins-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


  .table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    border-radius: 0.65rem;
    border: solid 1px #1a1a1a ;
  }
  
 
  
  .td-hash,
  .td-name,
  .td-change,
  .td-price,
  .td-btc,
  .td-cap,
  .td-volume,
  .td-graph {
    padding: 10px;
    text-align: right;
    font-weight: bold;
  }
  
  .td-hash {
    width: 10%;
  }
  
  .tname {
    width: 30%;
    text-align: left;
  }
  
  .tchange {
    width: 15%;
  }
  
  .tprice {
    width: 15%;
  }
  
  .tbtc {
    width: 15%;
  }
  
  .tcap {
    width: 15%;
  }
  
  .tvolume {
    width: 15%;
  }
  
  .tgraph {
    width: 10%;
  }
  
  .tbody td {
    padding: 10px;
    text-align: right;
  }
  

  .table-icon {
    width: 1.5rem;
    margin-right: 10px;
  }


  .td-name {
    display: flex;
    align-items: center;
    text-align: left;
  }


.little-line {
    width: 150px;
    height: 50px;

}
